.root {
    /*-fx-background-color: #E0E0E0;*/
    -fx-background-image: url("Images/background.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 800 600;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.text {
    -fx-font-family: "Calibri";
    -fx-font-size: 14px;
}

.button {
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;

    -fx-min-width: 110px;
}
.button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}

.error-button {
    -fx-background-color:
            #b25555,
            linear-gradient(#8f484a 0%, #a35c61 20%, #b63c32 100%),
            linear-gradient(#dc493c, #b62e35),
            radial-gradient(center 50% 0%, radius 100%, rgba(148, 77, 70, 0.9), rgba(255,255,255,0));
}